# Node modules
node_modules/

# Build output
build/
dist/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Zip files
*.zip

# Coverage
coverage/

# Misc
*.log

#git
git.md